main{
  max-width: 1400px;
    width: 100%; 
    margin: 0 auto;
  
  }
  
  html,
  body {
      position: relative;
  }
  


 
/* 광고 컨텐츠 슬라이드 */
  .swiper {
    width: 100%;
    max-width: 1400px;
    height: auto;
    /* 또는 원하는 값 */
    margin: 0 auto;
    margin-top: 50px;
}

.swiper-slide {
    aspect-ratio: 2 / 2.1;
    overflow: hidden;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
 
    
}

.swiper-wrapper{
    margin-bottom: 50px;
}


  
  /* ad_content */
  .ad_content{
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .slide_ad_img{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
  
.slide_ad_img>li img{
  max-width: 690px;
  width: 100%;
  height: 462px;
}



  
  .slide_product{
    max-width: 1400px;
    width: 100%; height: 660px;
    margin-top: 150px;
  }
  


  /* best product */
  .slide_product>h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
  }

  .slide_product>h3{
    text-align: end;
  }

.img_text_four_box{
  max-width: 1400px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

.img_text_four_box>figure>.product>h3{
  font-size: 18px;
}


.product_img_box{
  max-width: 339px;
  width: 100%;
  height: 339px;
}

.text_box{
    text-align: center;
    margin-top: 30px;
    
}







/* img_text_four_box figure */

figure{
    margin-bottom: 20px;
}

figure img{

    width: 100%; height: 322px;
    margin-bottom: 20px;
}

.product>h3{
    color: #111;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.product>.price{
font-size: 14px;
color: #999;
text-decoration: line-through;
}

.product>h4{
color: #363636;
margin-bottom: 10px;
font-size: 16px;
font-weight: 500;
}

.promotion{
display: flex;

}
.promotion>.new{
background-color: yellow;
width: 60px;
height: 15px;
font-size: 10px;
text-align: center;
margin-right: 3px;
}


.promotion>.best{
background-color: hotpink;
width: 60px;
height: 15px;
font-size: 10px;
text-align: center;
color: #fff;
margin-right: 3px;
}

.promotion>.order{
background-color: blueviolet;
width: 60px;
height: 15px;
font-size: 10px;
text-align: center;
color: #fff;
margin-right: 3px;
}


.color{
display: flex;
}


.ad_content2{
  max-width: 1400px;

    width: 100%; 
    margin-top: 150px;
}

.ad_content2>h3{
  text-align: end;
  margin-bottom: 30px;
}




footer{
  margin-top: -80px;
}